.spinner {
  margin: 10px;
  border-radius: 100%;
  border: 2px solid #000;
  border-top-color: #059669;
  animation: loading 1s ease-in-out infinite;
  width: 40px;
  height: 40px;
}

@keyframes loading {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
